npm-debug.log
*.swp
.DS_Store
node_modules/
logs/
coverage/
.cache/
yarn-error.log
package-lock.json

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.iml
*.ipr
*.iws
*.log
*.interp
*.tokens
*.java
*.class
temp.json
resourcePolicy*.js
